<link rel="stylesheet" href="../css/index.css">
<br>
<br>
<br>
<body style="background: #FFFAF0; 
  display: flex;
  justify-content: center;
  align-items: center;
  ">
<div class="container" >

  <div class="notification is-dark" style="box-shadow: 60px -16px teal; ">

<h1 class="is-size-2"> Resposta </h1>
<div class="is-size-4 ">
<%= msg %>
</div>
<hr>
<a href="/" class="button is-warning"> 
 Faça outra pergunta

</a>

</div>
</div>
</body>