<link rel="stylesheet" href="../css/index.css">
<br>
<br>
<br>
<body style="background: #FFFAF0;">
<div class="container" >

  <div class="notification is-info">

<h1 class="is-size-1"> Resposta </h1>
<div class="is-size-4 ">
<%= msg %>
</div>
<hr>
				<a href="/"><button class="button"> 
 Faça outra pergunta</button> </a>

</div>
</div>
</body>