<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Estudantes</title>
  </head>

  <body>
    <h1>Cassoma estudantes.</h1>

    <form action="/students" method="POST">
      <input type="text" placeholder="nome" name="nome" />
      <input type="text" placeholder="turma" name="turma" />
      <button type="submit">Submit</button>
    </form>

<h2> Aulas </h2>

<ul class="quotes">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < students.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= students[i].nome %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= students[i].turma %></span>
    </li>
  <% } %>
  
</ul>

  </body>
</html>