
<link rel="stylesheet" href="../css/index.css">

	<section class="hero is-info is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
          	Cassoma Escola 
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
     <span class="navbar-item">

	<form action="/login/logout?_method=DELETE"  method=POST>
	<button class="button is-danger is-large	" type="submit"> Sair </button>
	</form>
	</span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body ">
    <div class="container has-text-centered">
      <p class="title is-1">

       <img src="https://api.multiavatar.com/'<%= Math.random(); %>'.png" style="width:150px; height:150px;" > 
      </p>
      <br>
        <p class="subtitle is-1">
            Ola <%= username %>  é bom te ver se aplicando na escola
    </p>
  
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a>Calendario</a></li>
          <li><a>Materia</a></li>
          <li><a>Atividades</a></li>
      
        </ul>
      </div>
    </nav>
  </div>
</section>

