<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Estudantes</title>
  </head>

  <body>
    <h1>Cassoma estudantes.</h1>

    <form action="/students" method="POST">
      <input type="text" placeholder="nome" name="nome" />
      <input type="text" placeholder="turma" name="turma" />
      <button type="submit">Submit</button>
    </form>

<h2> Aulas </h2>

<ul class="quotes">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < students.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= students[i].nome %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= students[i].turma %></span>
    </li>
  <% } %>
  
</ul>
<div>
  <h2>Alterar informação de estudante</h2>
  <p>
    Altere as informações dos estudantes
  </p>
  <button id="update-button">Alterar </button>
</div>


<div>
  <h2>Apague o numero de estudantes</h2>
  <p>
    Apague o numero de estudantes
  </p>
  <button id="delete-button">Delete Darth Vader's quote</button>
</div>

  <script src="/main.js"></script>
  </body>
</html>