<h1> registe o estudante </h1>

<form action="/register" method="POST">
	</div>
		<label for="email"> Email</label>
		<input type="email" id="email" name="email" required>
	</div>

	<div>
		<label for="username"> UserName </label>
		<input type="username" id="username" name="username" required>
	</div>
				<div>
		<label for="password"> Password </label>
		<input type="password" id="password" name="password" required>
	</div>

	<div>
		<label for="curse"> Curso </label>
		<input type="curse" id="curse" name="curse" required>
	</div>
		<div>
		<label for="curse_year"> Ano do Curso </label>
		<input type="curse_year" id="curse_year" name="curse_year" required>
    </div>
    		<div>
		<label for="student_number"> Numero do Estudante </label>
		<input type="student_number" id="student_number" name="student_number" required>
    </div>
    	<div>
		<label for="proprinas"> Estado das Proprinas  </label>
		<input type="proprinas" id="proprinas" name="proprinas" required>
	</div>
	<button type="submit"> Registar 	</button>
	</form>


<a href="/login">Login</a>
