<link rel="stylesheet" href="../css/science.css">
<body align="center">


 <div class="container">

<canvas id="canvas" class="canvas__container"></canvas>


<%= science %>


  <a  class="button" href="/" > Voltar</a>


</div>

</body>