@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";





.form-container {
    background-color: lightblue;
    border: 5px solid black;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 3px 6px;

    
}


.modal-content {
    height: auto;
    width: 90%;
    height: 98%;
}

.content-form {
   
    background-color: white;
    border-radius: 3px;
    padding: 20px; 
}


.label {
    color: dark;
}
